<div class="md:w-[90%] mx-auto bg-slate-50">
    <a href={{projectLink}} target="_blank"
        class="block overflow-hidden rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        <div class="flex items-center justify-start h-24 sm:h-48">
            <img class="w-2/5 h-full object-cover object-left-top" src={{coverImg}} alt="Project Cover">
            <div class="w-3/5 p-4">
                <h5 class="text-xs sm:text-lg font-bold project-name" >{{name}}</h5>
                <p class="text-xs sm:text-sm text-gray-600 mt-2 line-clamp-3 overflow-hidden project-intro">{{introduction}}
                </p>
            </div>
        </div>
    </a>
</div>