<div class="sm:hidden fixed  bottom-0 left-[20vw] w-[60vw] h-[24vw]
  flex justify-center items-center
  border border-b-0 border-gray-300">
    <div class="absolute   bottom-[24vw] h-[6vw] w-[12vw] rounded-full border rounded-b-none  border-gray-300"></div>
    <div class="absolute bottom-[14vw] w-2 h-2 rounded-full bg-gray-300"></div>
    <div class="absolute  bottom-0 m-auto w-[30vw] h-[9vw] border border-b-0 border-gray-300"></div>
    
    <div class="fixed bottom-0 w-screen h-1 border-1 border-gray-300"></div>
</div>